# Environment variables
.env

# Python virtual environment
/venv/
/.venv/

# Python cache
__pycache__/
*.pyc

# Log files
*.log

# IDE / Editor specific
.vscode/
.idea/

# Any other personal/temporary files
structure.txt